<a href=""><button class="btn btn-success">Home</button></a>
<a href="/users/friend"><button class="btn btn-success">Friends</button></a>
<a href="/users/Add_fl"><button class="btn btn-success">ADD Freind</button></a>
